!ex.spec
!meow.py
!data4.json
!face.py
!gui3.py
!gui1.spec
!example_image.jpg
!data1.json
!guiii.py
!gui1.py
!file.py
!aaa.py
!1.py
!data2.json
!gui.py
!PsyState.spec
!PsyState.py
!gui2.py
!main.py
!ostatki.py
!new.py
!input.txt
!face_analyze.json
!ex.py
!go.JPG
!meow.spec
!gui_back.py
!capitals.json
!image.py
!pipo.py
!idontknow.py
!aaaaa.py
!gui.spec
!result.json
!text.py
!textnatasha.py
!texttextetxt.py
!user_pos.py
!user_wall11.json
!user_wall.json
!vk.py
!vk_parsing.py
!wall11.py
!уx_for_groups.py
!word_list.txt